@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

:root {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.034);
  color: rgb(0, 0, 0);
  font-family: "Space Grotesk", sans-serif;
  height: 100vh;
}
